<div class="cart-main">
    <div class="cart-container">
        <div class="cart-items">
            <p *ngIf="cart.length < 1" [ngStyle]="{'padding': '1.5rem'}">Cart is empty.</p>
            <app-cart-item *ngFor="let product of cart" [product]="product" (removeItem)="removeProduct(product)"></app-cart-item>
        </div>
    </div>
    <div class="form">
        <div class="inner-container form-items">
            <input type="text" placeholder="Name" class="" [(ngModel)]="name" (ngModelChange)="nameChanged($event)" #nameInput="ngModel"/>
            <input type="text" placeholder="Address" class="" [(ngModel)]="address" (ngModelChange)="addressChanged($event)" #addressInput="ngModel"/>
            <input type="number" placeholder="Account Number" [(ngModel)]="accNo" (ngModelChange)="accChanged($event)" #accInput="ngModel"/>
            <h3>Total: {{total}}</h3>
        </div>
        <div class="inner-container">
            <div>
                <button [disabled]="nameInput.value !== '' && addressInput.value !== '' && accInput.value !== ''? false:true" (click)="confirmOrder()">Place Order</button>
                <button class="cancel-btn" (click)="cancelOrder()">Cancel Order</button>
            </div>
        </div>
    </div>
</div>