  .number-input {
    width: 80px;
    text-align: center;
  }
  
  .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .cart-items{
    width: 70%;
    text-align: center;
  }

  .inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .inner-container p {
    padding: 1rem;
  }

  .cancel-btn{
    background-color: red;
    margin-left: 1rem;
  }