<div class="product-container">
    <div>
        <img src={{product.url}} class="product-image" alt={{product.name}}/>
    </div>
    <div class="info">
        <div>
            <h4>{{product.name}}</h4>
            <a [routerLink]="['/product', product.id]">Details</a>
        </div>
        <div>
            <p>Price</p>
            <p>{{product.price}}</p>
        </div>
        <div>
            <input type="number" min="0" class="select-input" [formControl]="quantity"/>
            <button (click)="addToCart()">Add to Cart</button>
        </div>
    </div>
    
</div>
